@tailwind base;
@tailwind components;
@tailwind utilities;

/* Parrafos, titulos e iconos */
    .link:hover {
        color:#BC8CF2;
    }

    .link:after {
        content: "";
        position: absolute;
        height: 2px;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: 2px;
        background-color: #BC8CF2;
        transform: scaleX(0); 
        transition: transform 0.3s ease-in-out; 
    }

    .link:active:after {
        transform: scaleX(1);
    }

/* Menús */
    .bg-background\/70 {
        background-color: hsl(var(--nextui-background) / 0);
    }

    .scrollbar-hide {
        background-color: rgba(0, 0, 0, 0);
    }

/* Imagenes */
    .imagen {
        border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
    }

/* Contenedores */
    .container, .container2 {
        padding: 2% 5% 0% 5%;
    }

    .container-skills, .container-services, .container-portfolio, .container-test, .container-blog, .container-contacto {
        margin: 5% 5% 3% 5%;
    }

    .container-info {
        padding: 12% 0% 12% 0%;
    }

/* Cards */
    .card-principal:hover {
        background:  #BC8CF2;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

    .card-info .container-info {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .card-info:hover .container-info {
        opacity: 1;
        visibility: visible;
    }