@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
    background-color: black;
}

/* Parrafos, titulos e iconos */
    .link:hover {
        color:#BC8CF2;
    }

    .link:after {
        content: "";
        position: absolute;
        height: 2px;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: 2px;
        background-color: #BC8CF2;
        transform: scaleX(0); 
        transition: transform 0.3s ease-in-out; 
    }

    .link:active:after {
        transform: scaleX(1);
    }

    .parrafo1, .about, .info, .details, .parrafo-card, .parrafo-info, .parrafo4 {
        padding-top: 1%;
    }

    .parrafo4 {
        display: flex;
    }

    .skill, .subtitulo {
        margin-top: 2%;
    }

    .cards {
        text-align: center;
    }

    .svg-lupa {
        margin-top: 5%;
    }

    .svg-contact {
        margin-right: 2%;
    }

    .detail2 {
        margin-left: 2%;
    }

    .icon:hover {
        background-color: #ffffff;
    } 

/* Menús */
    .navbar {
        position: fixed;
    }

    .scrollbar-hide {
        background-color: rgba(0, 0, 0, 0);
    }

    .bg-background\/70 {
        background-color: hsl(var(--nextui-background) / 0);
    }

/* Imagenes */
    .divImagen {
        padding-left: 10%;
    }

    .imagen {
        width: 400px;
        border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
    }

    .img {
        height: 420px;
        border: 10px solid #BC8CF2;
    }

    .imagen-info {
        border-radius: 8px;
    }

/* Contenedores */
    .container, .container2 {
        padding: 2% 5% 0% 5%;
    }

    .information {
        margin-left: -4%;
    }

    .info-personal {
        margin-top: 1%;
    }

    .container2 {
        margin-top: 8%;
    }

    .num {
        text-align: center;
        background-color: #222222;
        margin-top: 3%;
        margin-bottom: 7%;
    }

    .detail {
        margin-left: 10%;
    }

    .heading {
        background-color: rgba(0, 0, 0, 0);
        text-align: center;
        margin-bottom: 4%;
    }

    .container-skills, .container-services, .container-portfolio, .container-test, .container-blog, .container-contacto {
        margin: 3% 5% 3% 5%;
    }

    .container-contacto {
        padding-bottom: 5%;
        margin-bottom: 0;
    }

    .container-info {
        padding: 12% 0% 12% 0%;
    }

/* Botones */
    .boton1 {
        margin-top: 3%;
        border: 1px solid #BC8CF2;
    }

/* Cards */
    .card-principal {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #ffffff9d;
        border-radius: 6px;
    }

    .card-principal:hover {
        background:  #BC8CF2;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

    .card-info .container-info {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .card-info:hover .container-info {
        opacity: 1;
        visibility: visible;
    }